<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322948964487-gorr1r0eg7l8otn3mob82fh3dj5vj76b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322948964487-gorr1r0eg7l8otn3mob82fh3dj5vj76b</string>
	<key>API_KEY</key>
	<string>AIzaSyA8aMWkTnu1wxTgE188I--0o2HELf5gNBA</string>
	<key>GCM_SENDER_ID</key>
	<string>322948964487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pedometerApplication</string>
	<key>PROJECT_ID</key>
	<string>pedometer-workout-application</string>
	<key>STORAGE_BUCKET</key>
	<string>pedometer-workout-application.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322948964487:ios:88563d17841cf9c458d822</string>
</dict>
</plist>